fastapi
uvicorn
openai
python-dotenv
python-multipart

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